*{
  margin: 0;
  padding: 0;
}
.home{
  display: flex;
  width: 100vw;
}
.tasks{
  width:75vw;
}
.folders{
  width: 25vw;
}
.tasks .task{
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 10px 5px;
  border:1px rgba(0, 0, 0, 0.3) solid;
}
.icons{
  margin: 0 30px;
  display: flex;
  align-items: center;
}
.modify{
  margin:0 30px;
  font-size: 1.5em;
} 
.done{
  font-size: 2em;
}
.tasks .task .task-title{
  font-size: 1.9em;
  margin: 0 0 10px;
}
.tasks .task .task-content{
  font-size: 1.4em;
}
.tasks form{
  height: 60px;
  display: flex;
  padding: 0;
}
.tasks form input{
  width: 20%;
  background-color: transparent;
  font-size:1.2em;
  border: solid 1px rgba(0, 0, 0, 0.408);
}
.tasks form input[type="text"]{
  width: 80%;
  padding: 0 10px;
}
.folder{
  padding: 20px 10px;
  font-size: 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delete-folder{
  font-size: .5em;
  color: red;
}
.actual{
  box-shadow:10px 20px 20px rgba(0, 0, 0, 0.1);
  border:solid 1px rgba(0, 0, 0, 0.408);
}
.delete{
  color:red;
  font-size: 1.3em;
}
.input-modify{
  border: none;
  font-size:1.9em;
  width: 70%;
  margin:0;
  padding:17px 5px;
}
.container-modify{
  display: flex;
  justify-content:space-between;
  align-items:center;
  border:1px rgba(0, 0, 0, 0.3) solid;
}
.modify-active{
  color: rgb(64, 255, 47);
}
.select-folder{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2em;
}
.folder-add{
  width: 70%;
  padding:20px 10px;
  margin: 0;
}
.folder-form{
  padding: 0;
  height:60px;
}
.folder-confirm{
  width:22%;
  height: 100%;
  padding: 0;
}
.task-done{
  position:relative;
  color:rgba(0, 0, 0, 0.3);
}
.task-done::before{
  content: '';
  height: 1px;
  width:90%;
  background: rgba(0, 0, 0, 0.412);
  display: block;
  position: absolute;
  top: 50%;
  left: 5%;
}
.done-true{
  color: rgb(64, 255, 47);
}
.login , .signup{
  display: flex;
  flex-direction: column;
  height: 46vh;
  width:26vw;
  margin: 27vh 37vw;
  justify-content: space-between;
  align-items: center;
}
.signup{
  height:58vh;
}
.login input , .signup input{
  padding: 15px 10px;
  font-size: 1.5em;
}
.login input[type="submit"]{
  width:200px;
  height: 70px;
  font-size:1.4em;
}
.link{
  font-size:1.3em;
}
.login a , .signup a {
  font-size: 1.1em;
  text-decoration: none;
}
h2{
  font-weight: 500;
  color:red;
  font-size: 1.1em;
}
.logout{
  font-size: 4em;
  position: absolute;
  bottom: 0;
  right: 0;
}